<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    p{
      text-align: center;
      font-size: 25px;
    }
    #code{
      font-size:  40px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 20px;
      margin-top: -10px;
    }
  </style>
</head>
<body>
  <p>Your Email Verification Code : </p>
  <div id="code">{{email_code_verifications}}</div>
</body>
</html>
